## Install and Import

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
# !pip install nltk

## Tokenization

In [3]:
import nltk

In [4]:
sample_text= "Oh man, this is pretty cool. We will do more such things. don't, isn't, aren't, couldn't"

In [5]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [6]:
sentence_token = sent_tokenize(sample_text.lower())
sentence_token

['oh man, this is pretty cool.',
 'we will do more such things.',
 "don't, isn't, aren't, couldn't"]

In [7]:
word_token = word_tokenize(sample_text.lower())
word_token

['oh',
 'man',
 ',',
 'this',
 'is',
 'pretty',
 'cool',
 '.',
 'we',
 'will',
 'do',
 'more',
 'such',
 'things',
 '.',
 'do',
 "n't",
 ',',
 'is',
 "n't",
 ',',
 'are',
 "n't",
 ',',
 'could',
 "n't"]

## Removing Punctuation and Numbers

In [8]:
tokens_without_punc = [w for w in word_token if w.isalpha()] # .isalnum() for number and object
tokens_without_punc

['oh',
 'man',
 'this',
 'is',
 'pretty',
 'cool',
 'we',
 'will',
 'do',
 'more',
 'such',
 'things',
 'do',
 'is',
 'are',
 'could']

## Removing Stopwords

In [9]:
#nltk.download('stopwords')

In [10]:
from nltk.corpus import stopwords

In [11]:
stop_words = stopwords.words("english")
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [12]:
tokens_without_punc

['oh',
 'man',
 'this',
 'is',
 'pretty',
 'cool',
 'we',
 'will',
 'do',
 'more',
 'such',
 'things',
 'do',
 'is',
 'are',
 'could']

In [13]:
token_without_sw = [t for t in tokens_without_punc if t not in stop_words] # if you make a sentiment analysis , you can remove 
                                                                          # negative auxiliary verb
token_without_sw

['oh', 'man', 'pretty', 'cool', 'things', 'could']

In [14]:
# [i for i in stop_words if "n't" in i]

## Lemmatization

In [15]:
from nltk.stem import WordNetLemmatizer

In [16]:
#nltk.download('wordnet')

In [17]:
WordNetLemmatizer().lemmatize("children")

'child'

In [18]:
lem = [WordNetLemmatizer().lemmatize(t) for t in token_without_sw]

In [19]:
lem

['oh', 'man', 'pretty', 'cool', 'thing', 'could']

## Stemming

In [20]:
from nltk.stem import PorterStemmer

In [21]:
PorterStemmer().stem("driving")

'drive'

In [22]:
stem = [PorterStemmer().stem(t) for t in token_without_sw]

In [23]:
stem

['oh', 'man', 'pretti', 'cool', 'thing', 'could']

## Joining

In [24]:
" ".join(lem)

'oh man pretty cool thing could'

## Cleaning Function - NOT for sentiment analysis

In [25]:
def cleaning(data):
    
    #1. Tokenize
    text_tokens = word_tokenize(data.lower()) 
    
    #2. Remove Puncs
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    #3. Removing Stopwords
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    
    #4. lemma
    text_cleaned = [WordNetLemmatizer().lemmatize(t) for t in tokens_without_sw]
    
    #joining
    return " ".join(text_cleaned)

In [26]:
pd.Series(sample_text).apply(cleaning)

0    oh man pretty cool thing could
dtype: object

## Cleaning Function - for sentiment analysis

In [27]:
import re
# \w typically matches [A-Za-z0-9_]
s = re.sub('[^\w\s]','',sample_text)
word = word_tokenize(s)
word

['Oh',
 'man',
 'this',
 'is',
 'pretty',
 'cool',
 'We',
 'will',
 'do',
 'more',
 'such',
 'things',
 'dont',
 'isnt',
 'arent',
 'couldnt']

In [28]:
def cleaning_fsa(data):
    
    import re
    #1. Remove Puncs
    # \w typically matches [A-Za-z0-9_]
    text = re.sub('[^\w\s]','',sample_text)
         
    #2. Tokenize
    text_tokens = word_tokenize(text.lower()) 
    
    #3. Remove numbers
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    #4. Removing Stopwords
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    
    #5. lemma
    text_cleaned = [WordNetLemmatizer().lemmatize(t) for t in tokens_without_sw]
    
    #joining
    return " ".join(text_cleaned)

In [29]:
pd.Series(sample_text).apply(cleaning_fsa)

0    oh man pretty cool thing dont isnt arent couldnt
dtype: object

## Part of Speech Tagging

In [30]:
from nltk import pos_tag

In [31]:
text = "Steven Paul Jobs was an American business magnate, industrial designer, investor, and media proprietor. He was the chairman, chief executive officer (CEO), and co-founder of Apple Inc.; the chairman and majority shareholder of Pixar; a member of The Walt Disney Company's board of directors following its acquisition of Pixar; and the founder, chairman, and CEO of NeXT. "

In [32]:
tokens = word_tokenize(text)

In [33]:
tagg = pos_tag(tokens)
tagg

[('Steven', 'NNP'),
 ('Paul', 'NNP'),
 ('Jobs', 'NNP'),
 ('was', 'VBD'),
 ('an', 'DT'),
 ('American', 'JJ'),
 ('business', 'NN'),
 ('magnate', 'NN'),
 (',', ','),
 ('industrial', 'JJ'),
 ('designer', 'NN'),
 (',', ','),
 ('investor', 'NN'),
 (',', ','),
 ('and', 'CC'),
 ('media', 'NNS'),
 ('proprietor', 'NN'),
 ('.', '.'),
 ('He', 'PRP'),
 ('was', 'VBD'),
 ('the', 'DT'),
 ('chairman', 'NN'),
 (',', ','),
 ('chief', 'JJ'),
 ('executive', 'NN'),
 ('officer', 'NN'),
 ('(', '('),
 ('CEO', 'NNP'),
 (')', ')'),
 (',', ','),
 ('and', 'CC'),
 ('co-founder', 'NN'),
 ('of', 'IN'),
 ('Apple', 'NNP'),
 ('Inc.', 'NNP'),
 (';', ':'),
 ('the', 'DT'),
 ('chairman', 'NN'),
 ('and', 'CC'),
 ('majority', 'NN'),
 ('shareholder', 'NN'),
 ('of', 'IN'),
 ('Pixar', 'NNP'),
 (';', ':'),
 ('a', 'DT'),
 ('member', 'NN'),
 ('of', 'IN'),
 ('The', 'DT'),
 ('Walt', 'NNP'),
 ('Disney', 'NNP'),
 ('Company', 'NNP'),
 ("'s", 'POS'),
 ('board', 'NN'),
 ('of', 'IN'),
 ('directors', 'NNS'),
 ('following', 'VBG'),
 ('its', 'PRP$'),
 ('acquisition', 'NN'),
 ('of', 'IN'),
 ('Pixar', 'NNP'),
 (';', ':'),
 ('and', 'CC'),
 ('the', 'DT'),
 ('founder', 'NN'),
 (',', ','),
 ('chairman', 'NN'),
 (',', ','),
 ('and', 'CC'),
 ('CEO', 'NNP'),
 ('of', 'IN'),
 ('NeXT', 'NNP'),
 ('.', '.')]

Abbreviation	Meaning

CC	            coordinating conjunction
CD	            cardinal digit
DT	            determiner
EX	            existential there
FW	            foreign word
IN	            preposition/subordinating conjunction
JJ	            This NLTK POS Tag is an adjective (large)
JJR	            adjective, comparative (larger)
JJS	            adjective, superlative (largest)
LS	            list market
MD	            modal (could, will)
NN	            noun, singular (cat, tree)
NNS	            noun plural (desks)
NNP	            proper noun, singular (sarah)
NNPS	        proper noun, plural (indians or americans)
PDT	            predeterminer (all, both, half)
POS	            possessive ending (parent\ ‘s)
PRP	            personal pronoun (hers, herself, him, himself)
PRP$	        possessive pronoun (her, his, mine, my, our )
RB	            adverb (occasionally, swiftly)
RBR	            adverb, comparative (greater)
RBS	            adverb, superlative (biggest)
RP	            particle (about)
TO	            infinite marker (to)
UH	            interjection (goodbye)
VB	            verb (ask)
VBG	            verb gerund (judging)
VBD	            verb past tense (pleaded)
VBN	            verb past participle (reunified)
VBP	            verb, present tense not 3rd person singular(wrap)
VBZ	            verb, present tense with 3rd person singular (bases)
WDT	            wh-determiner (that, what)
WP	            wh- pronoun (who)
WRB	            wh- adverb (how)

## Named Entity Recognition

In [34]:
from nltk import ne_chunk

In [35]:
ner = ne_chunk(tagg)
ner

The Ghostscript executable isn't found.
See http://web.mit.edu/ghostscript/www/Install.htm
If you're using a Mac, you can try installing
https://docs.brew.sh/Installation then `brew install ghostscript`

LookupError:

Tree('S', [Tree('PERSON', [('Steven', 'NNP')]), Tree('PERSON', [('Paul', 'NNP'), ('Jobs', 'NNP')]), ('was', 'VBD'), ('an', 'DT'), Tree('GPE', [('American', 'JJ')]), ('business', 'NN'), ('magnate', 'NN'), (',', ','), ('industrial', 'JJ'), ('designer', 'NN'), (',', ','), ('investor', 'NN'), (',', ','), ('and', 'CC'), ('media', 'NNS'), ('proprietor', 'NN'), ('.', '.'), ('He', 'PRP'), ('was', 'VBD'), ('the', 'DT'), ('chairman', 'NN'), (',', ','), ('chief', 'JJ'), ('executive', 'NN'), ('officer', 'NN'), ('(', '('), Tree('ORGANIZATION', [('CEO', 'NNP')]), (')', ')'), (',', ','), ('and', 'CC'), ('co-founder', 'NN'), ('of', 'IN'), Tree('ORGANIZATION', [('Apple', 'NNP'), ('Inc.', 'NNP')]), (';', ':'), ('the', 'DT'), ('chairman', 'NN'), ('and', 'CC'), ('majority', 'NN'), ('shareholder', 'NN'), ('of', 'IN'), Tree('GPE', [('Pixar', 'NNP')]), (';', ':'), ('a', 'DT'), ('member', 'NN'), ('of', 'IN'), ('The', 'DT'), Tree('ORGANIZATION', [('Walt', 'NNP'), ('Disney', 'NNP'), ('Company', 'NNP')]), ("'s", 'POS'), ('board', 'NN'), ('of', 'IN'), ('directors', 'NNS'), ('following', 'VBG'), ('its', 'PRP$'), ('acquisition', 'NN'), ('of', 'IN'), Tree('GPE', [('Pixar', 'NNP')]), (';', ':'), ('and', 'CC'), ('the', 'DT'), ('founder', 'NN'), (',', ','), ('chairman', 'NN'), (',', ','), ('and', 'CC'), Tree('ORGANIZATION', [('CEO', 'NNP')]), ('of', 'IN'), Tree('ORGANIZATION', [('NeXT', 'NNP')]), ('.', '.')])

In [36]:
ner.draw()

NE Türü         	Örnek

ORGANIZATION    	Georgia-Pacific Corp., WHO
PERSON          	Eddy Bonte, President Obama
LOCATION        	Murray River, Mount Everest
DATE            	June, 2008-06-29
TIME            	two fifty a m, 1:30 p.m.
MONEY           	175 million Canadian Dollars, GBP 10.40
PERCENT         	twenty pct, 18.75 %
FACILITY        	Washington Monument, Stonehenge
GPE             	South East Asia, Midlothian

## CountVectorization and TF-IDF Vectorization

In [37]:
df = pd.read_csv("airline_tweets.csv")

In [38]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [39]:
df = df[['airline_sentiment','text']]
df

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [40]:
import pandas as pd
import numpy as np

In [41]:
df = df.iloc[:8, :]
df

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...
5          negative  @VirginAmerica seriously would pay $30 a fligh...
6          positive  @VirginAmerica yes, nearly every time I fly VX...
7           neutral  @VirginAmerica Really missed a prime opportuni...

In [42]:
df2 = df.copy()

In [43]:
df2["text"] = df2["text"].apply(cleaning)

In [44]:
df2

  airline_sentiment                                               text
0           neutral                        virginamerica dhepburn said
1          positive  virginamerica plus added commercial experience...
2           neutral  virginamerica today must mean need take anothe...
3          negative  virginamerica really aggressive blast obnoxiou...
4          negative                 virginamerica really big bad thing
5          negative  virginamerica seriously would pay flight seat ...
6          positive  virginamerica yes nearly every time fly vx ear...
7           neutral  virginamerica really missed prime opportunity ...

## CountVectorization

In [45]:
X = df2["text"]
y = df2["airline_sentiment"]

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, stratify = y, random_state = 42)

In [48]:
from sklearn.feature_extraction.text import CountVectorizer

In [49]:
vectorizer = CountVectorizer()
X_train_count = vectorizer.fit_transform(X_train)
X_test_count = vectorizer.transform(X_test)

In [50]:
vectorizer.get_feature_names()

['another',
 'away',
 'bad',
 'big',
 'dhepburn',
 'ear',
 'every',
 'fly',
 'go',
 'mean',
 'must',
 'nearly',
 'need',
 'really',
 'said',
 'take',
 'thing',
 'time',
 'today',
 'trip',
 'virginamerica',
 'vx',
 'worm',
 'yes']

In [51]:
X_train_count.toarray()

array([[0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
        1, 1],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
        0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
        0, 0]], dtype=int64)

In [52]:
pd.DataFrame(X_train_count.toarray(), columns = vectorizer.get_feature_names())

,another,away,bad,big,dhepburn,ear,every,fly,go,mean,...,said,take,thing,time,today,trip,virginamerica,vx,worm,yes
0,0,1,0,0,0,1,1,1,1,0,...,0,0,0,1,0,0,1,1,1,1
1,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,1,1,0,0,0
3,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [53]:
pd.set_option('display.max_columns', 50)

In [54]:
X_train[6]

'virginamerica yes nearly every time fly vx ear worm go away'

In [55]:
vectorizer.vocabulary_

{'virginamerica': 20,
 'yes': 23,
 'nearly': 11,
 'every': 6,
 'time': 17,
 'fly': 7,
 'vx': 21,
 'ear': 5,
 'worm': 22,
 'go': 8,
 'away': 1,
 'dhepburn': 4,
 'said': 14,
 'today': 18,
 'must': 10,
 'mean': 9,
 'need': 12,
 'take': 15,
 'another': 0,
 'trip': 19,
 'really': 13,
 'big': 3,
 'bad': 2,
 'thing': 16}

## TF-IDF

sklearn TD-IDF
https://towardsdatascience.com/how-sklearns-tf-idf-is-different-from-the-standard-tf-idf-275fa582e73d

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [57]:
tf_idf_vectorizer = TfidfVectorizer()
X_train_tf_idf = tf_idf_vectorizer.fit_transform(X_train)
X_test_tf_idf = tf_idf_vectorizer.transform(X_test)

In [58]:
tf_idf_vectorizer.get_feature_names()

['another',
 'away',
 'bad',
 'big',
 'dhepburn',
 'ear',
 'every',
 'fly',
 'go',
 'mean',
 'must',
 'nearly',
 'need',
 'really',
 'said',
 'take',
 'thing',
 'time',
 'today',
 'trip',
 'virginamerica',
 'vx',
 'worm',
 'yes']

In [59]:
X_train_tf_idf.toarray()

array([[0.        , 0.31200802, 0.        , 0.        , 0.        ,
        0.31200802, 0.31200802, 0.31200802, 0.31200802, 0.        ,
        0.        , 0.31200802, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.31200802, 0.        , 0.        ,
        0.16281873, 0.31200802, 0.31200802, 0.31200802],
       [0.        , 0.        , 0.        , 0.        , 0.66338461,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.66338461,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.34618161, 0.        , 0.        , 0.        ],
       [0.37082034, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.37082034,
        0.37082034, 0.        , 0.37082034, 0.        , 0.        ,
        0.37082034, 0.        , 0.        , 0.37082034, 0.37082034,
        0.19350944, 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.48380259, 0.48380259, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.48380259, 0.        ,
        0.        , 0.48380259, 0.        , 0.        , 0.        ,
        0.25246826, 0.        , 0.        , 0.        ]])

In [60]:
pd.DataFrame(X_train_tf_idf.toarray(), columns = tf_idf_vectorizer.get_feature_names())

,another,away,bad,big,dhepburn,ear,every,fly,go,mean,must,nearly,need,really,said,take,thing,time,today,trip,virginamerica,vx,worm,yes
0,0.00000,0.312008,0.000000,0.000000,0.000000,0.312008,0.312008,0.312008,0.312008,0.00000,0.00000,0.312008,0.00000,0.000000,0.000000,0.00000,0.000000,0.312008,0.00000,0.00000,0.162819,0.312008,0.312008,0.312008
1,0.00000,0.000000,0.000000,0.000000,0.663385,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000,0.000000,0.663385,0.00000,0.000000,0.000000,0.00000,0.00000,0.346182,0.000000,0.000000,0.000000
2,0.37082,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.37082,0.37082,0.000000,0.37082,0.000000,0.000000,0.37082,0.000000,0.000000,0.37082,0.37082,0.193509,0.000000,0.000000,0.000000
3,0.00000,0.000000,0.483803,0.483803,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000,0.483803,0.000000,0.00000,0.483803,0.000000,0.00000,0.00000,0.252468,0.000000,0.000000,0.000000

In [61]:
X_train[6]

'virginamerica yes nearly every time fly vx ear worm go away'

In [62]:
pd.DataFrame(X_train_tf_idf.toarray(), columns = tf_idf_vectorizer.get_feature_names()).loc[1].sort_values(ascending=False)

dhepburn         0.663385
said             0.663385
virginamerica    0.346182
yes              0.000000
must             0.000000
away             0.000000
bad              0.000000
big              0.000000
ear              0.000000
every            0.000000
fly              0.000000
go               0.000000
mean             0.000000
nearly           0.000000
worm             0.000000
need             0.000000
really           0.000000
take             0.000000
thing            0.000000
time             0.000000
today            0.000000
trip             0.000000
vx               0.000000
another          0.000000
Name: 1, dtype: float64